.App {
  margin: 50px auto;
  position: relative;
  &__title {
    text-align: center;
    color: royalblue;
    font-size: 3em;
  }
  &__container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 40px;
    & > div {
      flex-basis: 32%;
      padding: 1em;
      background-color: #343434;
      border-radius: 8px;
      position: relative;
      &:active {
        scale: 0.97;
        box-shadow: 0 0 10px 3px rgba(171, 163, 163, 0.18) inset;
      }
    }
  }
  &__circle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    &-green {
      background-color: rgb(42, 182, 42);
    }
    &-red {
      background-color: #ff0404;
    }
  }
  &__header {
    position: sticky;
    border-radius: 4px;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 20px;
    background-color: rgba(102, 102, 102, 0.5);
    padding: 6px 20px;
    p {
      text-align: end;
      font-size: 18px;
      span {
        border-radius: 4px;
        padding: 6px;
        margin: 0 4px;
        background-color: royalblue;
        color: #fff;
        font-size: 18px;
      }
    }
  }
  &__buttons {
    & > button {
      font-size: 18px;
      .bx {
        color: yellow;
        font-size: 20px;
      }
      &:nth-child(1) {
        background-color: green;
      }
      &:nth-child(2) {
        background-color: rgb(164, 38, 38);
      }
    }
  }
}
