.App {
  font-family: Georgia, "Times New Roman", Times, serif;

  &__content {
    max-width: 500px;
    margin: auto;
    padding-top: 10%;
  }
  &__title {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-bottom: 25px;
    h1 {
      color: rgb(41, 26, 141);
    }
    p {
      color: grey;
    }
  }
  &__btns {
    display: flex;
    column-gap: 10px;
  }
  &__btn {
    display: flex;
    align-items: center;
    column-gap: 5px;
    border-radius: 24px;
    padding: 15px 45px;
    color: #fff;
    background-color: #4267b2;
    border: 0;
  }
  &__btn2 {
    display: flex;
    align-items: center;
    column-gap: 5px;
    border-radius: 24px;
    padding: 15px 45px;
    color: #fff;
    background-color: #db4437;
    border: 0;

  }
}
