.App {
  display: flex;
  max-width: 1200px;
  padding: 16px;
  flex-wrap: wrap;
  align-content: start;
  justify-content: center;
  gap: 16px;
  margin: 0 auto;
  &__item {
    width: 32%;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 1em;
    button {
      background-color: #ff0707;
      color: white;
    }
  }
  &__title {
    flex-basis: 100%;
    width: 100%;
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
  }
}