body {
  background-color: #242424;
}

.App {
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: space-around;
  padding: 16px;
  
  &__title {
    flex-basis: 100%;
    width: 100%;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-size: 60px;
  }

  &__item {
    width: 32%;
    background-color: wheat;
    border-radius: 8px;
    padding: 1em;

    button {
      border: 0;
      color: #fff;
      background-color: red;
      border-radius: 5px;
    }
  }
}
