form{
    width: 600px;
    padding: 3em;
    margin: 20px auto;
    
    input{
        width: 100%;
        font-size: 18px;
        padding: 1em;
        margin: 20px;
        background-color: #f3f3f3;
        border: none;
        border-radius: 8px;
        &[type="submit"]{
            width: 200px;
            cursor: pointer;
            background-color: #040404;
            color: white;
            margin-top: 10px;
            border-radius: 8px;
        }
       
        
    }
    textarea{
        font-size: 18px;
        background-color: #f3f3f3;
        margin: 20px;
        border: none;
        padding-left: 20px;
        padding-top: 12px;
        border-radius: 8px;
        font-family: sans-serif;
    }
    .error{
        color: #ff0404;
    }
}