body {
  background-color: #d1d1d1;
}

.App {
  display: grid;
  grid-template-columns: 350px 1fr;
  min-height: 100vh;
  gap: 10px;
  &__container {
    height: 100%;
  }
  &__blogs {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 10px;
    align-content: center;
    height: 100%;

  }
}