.App {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 30px;
}

.Todos {
  opacity: 0.3;
  text-align: center;
  width: 200px;
  color: wheat;
  background: radial-gradient(
    circle,
    rgba(86, 88, 101, 1) 0%,
    rgba(108, 79, 85, 0.10407913165266103) 99%
  );

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}
.Todos:hover {
  opacity: 0.9;
}

.Todos__button {
  color: black;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.Todos__button :nth-child(1) {
  background-color: green;
}
.Todos__button :nth-child(2) {
  background-color: red;
}

.Todos__button :nth-child(2):active {
  scale: 0.95;
}
