.Products {
  flex-basis: 45%;
  box-shadow: 0 0 3px 0 rgba(12, 75, 122, 0.5);
  padding: 1em;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  position: relative;
  background: radial-gradient(
    circle,
    rgba(86, 88, 101, 1) 0%,
    rgba(191, 170, 173, 1) 99%
  );

  & > img {
    width: 100%;
    object-fit: cover;
    display: block;
    height: 300px;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  h2 {
    margin-top: 10px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
    line-height: 1.6;
  }
  h4 {
    display: flex;
    align-content: center;
    gap: 12px;
  }

  &__delete {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    color: #5a5a63;
    border: 0;
    padding: 0 10px;
    background: #d6c9cb;
    border-top-right-radius: 12px;
  }
  &__edit {
    position: absolute;
    top: 0;
    right: 48px;
    font-size: 28px;
    color: #5a5a63;
    border: 0;
    padding: 0 10px;
    border-bottom-left-radius: 12px;
    background: #d6c9cb;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 70px;

    input {
      width: 80%;
      padding: 8px;
      border-radius: 8px;
      height: 50px;
      border: 0;
      background-color: #eee;
      font-weight: 600;
    }
  }
  textarea {
    width: 80%;
    resize: none;
    border-radius: 8px;
    padding: 8px;
    height: 100px;
    border: 0;
    background: #eee;
    font-weight: 600;
  }
}
