.App {
  border: 1px solid black;
  text-align: center;
  padding: 2em;
  width: 700px;
  border-radius: 18px;
  margin: 50px auto;
  &__form {
    width: 40%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      height: 50px;
      border-radius: 12px;
      background-color: #eee;
      
      
    }
    select {
      width: 100px;
      height: 40px;
      border-radius: 12px;
      background-color: #eee;
      
    }

    .error {
      color: red;
      font-size: 16px;
    }
  }
  &__checkbox {
    display: flex;
    gap: 15px;
  }
}
