.Blog {
  .Posts {
    a {
      display: inline-block;
      padding: 1em;
      background-color: tan;
      border-radius: 16px;
      margin: 12px;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
