.Blog {
  .Posts {
    a {
      background-color: tan;
      display: inline-block;
      padding: 8px;
      border-radius: 16px;
      font-size: 14px;
      margin-bottom: 16px;
      margin-left: 16px;
    }
  }
}
