.Blog{
    .Posts{
        a{
            display: inline-block;
            padding: 1em;
            background-color: deeppink;
            border-radius: 16px;
            margin: 12px;
            font-size: 20px;
            font-weight: 600;
        }
    }
    form{
        width: 70%;
        margin-bottom: 20px auto;
        padding: 1em;
        input{
            padding: 10px;
            width: 100%;
            font-size: 20px;
        }
    }
}