$main-text-color: #286786;

.App {
  width: 80%;
  margin: 100px auto;

  &__content {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 150px 350px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    grid-column: 1/3;
    position: relative;
    padding-top: 50px;
    padding-left: 0;

    h1 {
      color: rgba($color: #286786, $alpha: 1);
    }
  }

  &__news {
    position: absolute;
    top: 15px;
    color: #10ce80;
    font-style: italic;
    font-weight: 700;
  }

  &__btn {
    border-radius: 8px;
    padding: 1em 2em;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
    color: $main-text-color;
    margin-left: 0;

    &-outline {
      background-color: transparent;
      border: 2px solid $main-text-color;
    }
    &-peru {
      background-color: rgb(241, 184, 77);
      border: 0;
    }

    i {
      margin-left: 5px;
      top: 1px;
      color: $main-text-color;
      position: relative;
    }
  }

  &__block {
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 20px;
    background-size: cover;

    &-left {
      background-image: url("https://images.unsplash.com/photo-1449300079323-02e209d9d3a6?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    }
    &-right {
      background-image: url("https://images.unsplash.com/photo-1582284540020-8acbe03f4924?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    }

    & > div {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 5px;
      border-radius: 24px;
      background-color: white;
      padding: 1.4em;
      width: 86%;
      position: absolute;
      left: 7%;
      bottom: -15%;

      h2 {
        color: $main-text-color;
        font-size: 20px;
      }
      p {
        color: gray;
      }
    }
  }
  &__userIcon {
    display: flex;
    gap: 5px;
    align-items: center;

    i {
      color: orange;
    }
  }

  &__date {
    width: 60px;
    height: 60px;
    color: gray;
    font-size: 14px;
    text-align: center;
    position: absolute;
    background-color: gray;
    background-color: #fff;
    border-radius: 50%;
    left: 30px;
    top: 30px;
    font-weight: 700;
    padding: 5px;
  }
}
