.container {
  text-align: left !important;
}
.SpecialNews {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  & > div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 80%;
  }
  h1 {
    font-weight: 700;
    font-size: 45px;
  }
  img {
    width: 470px;
    height: 460px;
  }
  p {
    font-size: 16px;
    max-width: 57%;
  }
  &__links {
    width: 400px;

    img {
      width: 200px;
      height: 200px;
    }
  }
}
a {
  display: flex;
}
