.newsSlider {
  &__content {
    border-radius: 8px;
    background-color: #eee;
    border: 1px solid rgb(172, 165, 165);
    height: 340px;
    text-align: center;

    img {
      width: 379px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    p {
      margin-top: 10px;
      font-weight: 700;
    }
    span {
      font-size: 16px;
      color: rgb(110, 109, 109);
      
    }
  }
  .slick-slider {
    width: 1200px;
    height: 500px;
    margin: 50px auto;
  }
  .slick-list {
    height: 500px;
  }
  .slick-track {
    height: 600px;
  }
  .slick-slide > div {
    padding: 10px;
  }
  .slick-next:before,
  .slick-prev:before {
    font-size: 32px;
    margin: -10px;
    color: rgb(94, 89, 89);
}
}