body {
  background: radial-gradient(
    circle,
    rgba(86, 88, 101, 1) 0%,
    rgba(168, 150, 153, 1) 99%
  );
}
.App {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 50px;

  &__container {
    display: flex;
  }
  &__content {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 20px;
  }
  .pagination {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    color: rgb(82, 73, 73);
  }
  li {
    padding: 4px;
    background-color: #5d606d93;
    font-size: 22px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: #d6c9cb;
    }
    &.selected {
      background-color: #d6c9cb;
    }
    a {
      padding: 12px;
    }
  }
  .next,
  .previous {
    a {
      color: rgb(75, 67, 67);
    }
  }
}
