.App {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding: 30px;
  width: 90%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Post {
  border-radius: 6px;
  padding: 1em;
  background-color: #fefefe;
  text-align: left;
  color: #111;
  flex-basis: 30%;
}