@mixin bgRules {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('https://images.unsplash.com/photo-1469474968028-56623f02e42e?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.Home {
  height: calc(100vh - 80px);
  &__container {
    @include bgRules();
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    h1 {
      font-size: 4em;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    }
  }
}