.App {
  margin: 100px auto;

  h1 {
    color: rgb(2, 2, 94);
    font-size: 50px;
  }
  p {
    color: gray;
    margin-bottom: 50px;
    font-weight: 500;
  }

  &__block {
    display: flex;
    gap: 20px;
    width: 500px;
    height: 55px;
    margin-bottom: 200px;

    &-left {
      width: 250px;
      background-color: rgb(79, 79, 180);
      color: #fff;
      border-radius: 30px;
      border: 0;
      font-weight: 500;
      font-size: 13px;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        margin-right: 10px;
        font-size: 20px;
       
      }

      i:hover {
        animation: identifier 1s infinite;
        @keyframes identifier {
          0% {
            transform: rotateX(0deg);
          }

          100% {
            transform: rotateX(360deg);
          }
        }
      }
      
    }
    &-leftHover:hover {
        animation: identifier 1s infinite;
        @keyframes identifier {
          0% {
            transform: rotateX(0deg);
          }

          100% {
            transform: rotateX(360deg);
          }
        }
      }
     

    &-right {
      width: 250px;
      background-color: rgb(196, 36, 36);
      color: #fff;
      border-radius: 30px;
      border: 0;
      font-weight: 500;
      font-size: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
     

      i {
        margin-right: 10px;
        font-size: 20px;
      }

      i:hover {
        animation: identifier 1s infinite;
        @keyframes identifier {
          0% {
            transform: rotateX(0deg);
          }

          100% {
            transform: rotateX(360deg);
          }
        }
      }
    }
  }

  &__content {
    display: flex;
    gap: 30px;

    button {
      width: 120px;
      height: 120px;
      border-radius: 30px;
      border: 0;
      background-color: rgba(233, 230, 230, 0.884);

      i {
        font-size: 40px;
        color: rgb(81, 81, 224);
        border: 0;
      }
    }
  }
}
