.App {
  margin: 50px auto;
  &__title {
    text-align: center;
    color: royalblue;
    font-size: 3em;
  }
  &__container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    & > div {
      flex-grow: 1;
      flex-basis: 32%;
      padding: 1em;
      background-color: #333;
      border-radius: 8px;
      position: relative;
      &:active {
        scale: 0.97;
        box-shadow: 0 0 10px 6px gray inset;
      }
    }
  }
  &__circle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;

    &-green {
      background-color: rgb(11, 224, 11);
    }
    &-red {
      background-color: red;
    }
  }
  &> button{
    background-color: royalblue;
  }
}
