.SignIn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    form{
        padding: 1em;

        input{
            width: 80%;
            padding: 1em;
            border-radius: 6px;
            margin-bottom: 10px;
        }
    }
}