.Modal{
    position: fixed;
    padding: 1em;
    inset: 0 0 0 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.7);
    display: grid;
    place-items: center;
    &__content{
        border-radius: 12px;
        padding: 1em;
        text-align: center;
        min-height: 250px;
        &-dark{
            background-color: #1d1d1d;
            color: royalblue;
            box-shadow: rgba(187, 186, 186, 0.35) 0px 5px 15px;
        }
        &-light{
            background-color:whitesmoke;
            color: #111;
        }
        &-pink{
            background-color:rgb(230, 88, 82);
            color: #fff;
            min-height: 120px;
            display: flex;
            align-items: start;
            padding: 1em 4em;
            justify-content: start;
            border-top: 16px solid rgb(243, 170, 166);
            img{
                width: 60px;
                object-fit: cover;
                margin-right: 12px;
            }
        }
        &-sm{
            width: max(40%, 350px);

        }
        &-md{
            width: max(60%, 350px);
        }
        &-lg{
            width: max(90%, 350px);
        }
    }
    &__buttons{
        margin-left: auto;
        button{
            background-color: rgb(47,116,144);
            color: #fff;
        }
    }
}
