.Modal {
  z-index: 999;
  padding: 1em;
  position: fixed;
  inset: 0 0 0 0;
  width: 100%;
  height: 100wh;
  background-color: rgba(0, 0, 0, 0.700);
  display: grid;
  place-items: center;
  &__content{
    font-size: 13px;
    background-color: rgb(230, 88, 82);
    color: #fff;
    border-radius: 12px;
    padding: 1em 4em;
    text-align: center;
    align-self: end;
    width: 90%;
    min-height: 130px;
    display: flex;
    align-items: start;
    justify-content: start;
    border-top: 10px solid rgb(243, 170, 166);
    &-sm{
      width: max(40%, 350px);
    }
    &-md{
      width: max(60%, 350px);
    }
    &-lg{
      width: max(90%, 350px);
    }
  }
  &__buttons{
    margin-left: auto;
  }
  button {
    background-color: rgb(47, 116, 144);
    border-radius: 1em;
    padding: 12px 30px;
    color: white;
    
  }
}