.Product {
  background-color: #eee;
  margin: 50px;
  
  display: flex;
  justify-content: center;

  &__content {
  
    margin-bottom: 20px;
    background-color: rgb(214, 207, 207);
    width: 500px;
    height: 400px;
    padding: 2em;
    border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      

    p {
      font-size: 14px;
      
    }
  }
  a {
    background-color: rgb(160, 46, 160);
    padding: 12px;
    border-radius: 10px;
    font-weight: 450;
    font-size: 14px;
    
    

  }

  &__img {
    img {
      width: 400px;
      height: 400px;

      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }
  }
  .allProducts{
    
    
  }
}
