.Title {
  line-height: 2;
  margin-bottom: 10px;
  text-transform: uppercase;
  &-black {
    color: #111;
  }
  &-purple {
    color: purple;
  }
  &-green {
    color: forestgreen;
  }
  &-xl {
    font-size: 60px;
  }
  &-lg {
    font-size: 48px;
  }
  &-md {
    font-size: 32px;
  }
  &-sm {
    font-size: 24px;
  }
}
