.MyLoader {
  position: absolute;
  inset: 0 0 0 0;

  width: 100%;
  display: grid;
  place-items: center;
  img {
    width: 200px;
    background-color: transparent;
    position: relative;
    z-index: 999;
  }
}
