.MyLoader{
    position: absolute;
    inset: 0 0 0 0;
    background-color: rgba($color: teal, $alpha: 0.8);
    display: grid;
    place-items: center;
    width: 100%;

img{
    width: 200px;
    background-color: transparent;
    position: relative;
    z-index: 999;
}
}