$main-text-color: #1d4c64;
.App{
    width: 80%;
    margin: 100px auto;
    &__content{
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 150px 340px;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        grid-column: 1/3;
        position: relative;
        padding-top: 50px;
        h1{
            color: rgba($color: #1d4c64, $alpha: 1.0);
            font-size: 46px;
            margin-top: 20px;
            line-height: 1.3;
        }
    }
    &__news{
        position: absolute;
        top: 15px;
        color: #10ce80;
        font-style: italic;
        font-weight: 700;
    }
  
    &__btn{
        border-radius: 8px;
        padding: 1em 2em;
        background-color: transparent;
        font-size: 18px;
        color: $main-text-color;
        text-transform: capitalize;
        font-weight: 700;
        margin-left: 0;
        &-outline{
            background-color: transparent;
            border: 2px solid $main-text-color;
        }
        &-peru{
            background-color: peru;
            border: 0;
        }
        i{
            margin-left: 5px;
            position: relative;
            top: 2px;
            color: $main-text-color;
        }
    }
    &__block{
        position: relative;
        background-color: blueviolet;
        background-image: url(https://images.pexels.com/photos/1327838/pexels-photo-1327838.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        background-size: cover;
        box-shadow: 
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        border-radius: 16px;
        & > div{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;
        border-radius: 24px;
        background-color: white;
        padding: 1.4em;
        width: 86%;
        position: absolute;
        left: 7%;
        bottom: -15%;
        h2{
            color: $main-text-color;
            font-size: 20px;
        }
        p{
            color: grey;
        }

        }
    }
}