body{
    background-color: #eee;
}
.useCustomHook {
    
  h2 {
    text-align: center;
    margin-top: 50px;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
  }
  button {
    width: 150px;
    height: 70px;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    border: 0;
    background-color: royalblue;
    color: #f0eaea;
    font-weight: 600;

    &:active{
        scale: 1.05;
      }
  }
  
}
