form {
  width: 600px;
  padding: 3em;
  border: 2px solid #1d1d1d;
  border-radius: 20px;
  margin: 20px auto;
  input,
  select {
    width: 100%;
    font-size: 18px;
    padding: 1em;
    margin-bottom: 4px;
  }
  .error{
    color: red;
    height: 35px;
  }
}