.Blog {
  flex-basis: 45%;
  overflow: hidden;
  position: relative;
  & > img {
    width: 100%;
    object-fit: cover;
    display: block;
    height: 270px;
  }
  &__content {
    padding: 2em 0em 1em 0em;
    h2 {
      font-weight: 600;
      margin-bottom: 20px;
    }
    p {
      color: rgb(162, 160, 160);
      font-size: 20px;
      line-height: 1.5;
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    margin-top: 20px;

    .Blog__edit {
      margin-left: auto;

      font-weight: 700;
      border: 0;
      cursor: pointer;
      font-size: 18px;
      color: #fff;
      background-color: rgb(0, 155, 245);
      i {
        font-size: 20px;
        margin-right: 12px;
      }
    }
  }
  &__avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }
  &__delete {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border-radius: 100% 0% 0% 100% / 0% 0% 100% 100%;
    background-color: #000;
    border-left: 1px solid red;
    border-bottom: 1px solid red;
    i {
      &::before {
        color: #fff;
        font-size: 14px;
      }
    }
  }
  &__editForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
    input,
    textarea {
      width: 100%;
      padding: 12px;
      font-size: 18px;
      border-radius: 6px;
      border: 0;
      background-color: rgb(167, 167, 167);
    }
    & > div {
      display: flex;
      gap: 10px;
      & button:nth-child(1) {
        background-color: royalblue;
        color: #fff;
        cursor: pointer;
      }
      & button:nth-child(2) {
        background-color: #10ce45;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
