.MainForm {
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    flex-grow: 1;
    padding: 10px;
    input,
    textarea {
      display: block;
      width: 100%;
      padding: 1em;
      margin-bottom: 12px;
    }
  }
}