.Products{
    a{
            
        display: inline-block;
        padding: 1em;
        background-color: rgb(194, 186, 186);
        border-radius: 16px;
        margin: 12px;
        font-size: 20px;
        font-weight: 600;
        
       
        img{
            display: block;
            width: 150px;
            height: 150px;
            margin: 0 auto;
            margin-top: 20px;
        }
      
        
    }
}