.Posts {
  width: 1200px;
  margin: 50px auto;
  padding: 1em;
  &__item {
    display: inline-block;
    background-color: blueviolet;
    padding: 1em;
    border-radius: 12px;
    margin: 20px;
    width: calc(50% - 40px);
    vertical-align: top;
  }
}


