.App{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 80px;
    footer{
        background-color: beige;
        padding: 1em;
        text-align: center;
        margin-top: 50px;
        border-top: 5px solid royalblue;
        height: 80px;
    }
}