* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.Link {
  border-radius: 4px;
  cursor: pointer;
  padding: 0.6rem 1rem;
  margin: 10px;
  background-color: royalblue;
  color: #fff;
  display: inline-block;
}
.slick-slider {
  padding-top: 20px;
  height: 380px;
  width: 1200px;
  border-top: 2px solid teal;
  border-bottom: 2px solid teal;
}
.slick-list {
}

.slick-next::before,
.slick-prev:before {
  color: #222 !important;
}
article {
  width: 20% !important;
}
.slick-current {
  width: 500px;
}
.slick-list {
  display: flex;
  flex-direction: column;
}
.slick-slide .slick-active .slick-current {
  width: 500px;
}
