

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.6rem 1rem;
}
pre{
  background-color: #1d1d1d;
  padding: 1em;
  width: 600px;
  border-radius: 10px;
  white-space: pre-wrap;
  color: #fff;
  margin: 50px auto;
  font-size: 20px;
}